/* Text Styles */
hr { color: #000000 }
body, table, tr, th /* Normal */
{
 font-size: 15px;
 font-family: Calibri,Vectora,'Droid Sans','Open Sans',Frutiger,sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_caption /* caption */
{
 font-size: 12px;
 font-style: italic;
 color: #323232;
}
span.f_CodeExample /* Code Example */
{
 font-size: 11px;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Comment /* Comment */
{
}
span.f_heading1 /* heading 1 */
{
 font-size: 21px;
 font-family: 'Segoe Script',Synthetica;
 font-weight: bold;
 color: #7b230b;
}
span.f_heading2 /* heading 2 */
{
 font-size: 17px;
 font-family: 'Calibri Light';
 font-weight: bold;
 color: #ffffff;
}
span.f_heading3 /* heading 3 */
{
 font-style: italic;
 font-weight: bold;
 color: #a5300f;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 21px;
 font-weight: bold;
}
span.f_Hyperlink /* Hyperlink */
{
 font-size: 13px;
 font-family: Arial,Helvetica,sans-serif;
 color: #6b9f25;
 text-decoration: underline;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 11px;
 font-weight: bold;
}
span.f_index1 /* index 1 */
{
 font-size: 12px;
 font-weight: bold;
}
span.f_index2 /* index 2 */
{
 font-size: 12px;
}
span.f_indexheading /* index heading */
{
 font-size: 17px;
 font-style: italic;
 font-weight: bold;
}
span.f_ListParagraph /* List Paragraph */
{
}
span.f_NoSpacing /* No Spacing */
{
}
span.f_Notes /* Notes */
{
}
span.f_tableoffigures /* table of figures */
{
 font-size: 13px;
}
span.f_toc1 /* toc 1 */
{
}
span.f_toc2 /* toc 2 */
{
}
span.f_toc3 /* toc 3 */
{
}
/* Paragraph styles */
p, p.p_Normal, div.p_Normal, li.p_Normal /* Normal */
{
 text-align: center;
 text-indent: 0;
 line-height: 1.28;
 padding: 0 0 0 0;
 margin: 0 0 11px 0;
}
.p_caption /* caption */
{
 font-size: 12px;
 line-height: 1.20;
 margin: 0 0 13px 0;
}
.p_CodeExample /* Code Example */
{
 font-size: 11px;
 text-align: left;
 line-height: 1.0;
 white-space: nowrap;
 page-break-inside: avoid;
 margin: 0 0 0 0;
}
.p_Comment /* Comment */
{
 font-size: 15px;
}
.p_heading1 /* heading 1 */
{
 font-size: 21px;
 text-indent: -24px;
 page-break-inside: avoid;
 page-break-after: avoid;
 margin: 16px 0 0 48px;
}
.p_heading2 /* heading 2 */
{
 font-size: 17px;
 page-break-inside: avoid;
 page-break-after: avoid;
 background: #a5300f;
 margin: 3px 0 0 0;
}
.p_heading3 /* heading 3 */
{
 font-size: 15px;
 line-height: 1.20;
 page-break-inside: avoid;
 page-break-after: avoid;
 background: #f2f2f2;
 margin: 3px 0 0 0;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: center;
 text-indent: 0;
 line-height: 1.28;
 padding: 0 0 0 0;
 margin: 0 0 11px 0;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 11px;
}
.p_index1 /* index 1 */
{
 font-size: 12px;
 text-align: left;
 text-indent: -15px;
 margin: 0 0 0 15px;
}
.p_index2 /* index 2 */
{
 font-size: 12px;
 text-align: left;
 text-indent: -15px;
 margin: 0 0 0 29px;
}
.p_indexheading /* index heading */
{
 font-size: 17px;
 text-align: left;
 border-color: #000000;
 border-style: solid;
 border-width: 2px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 margin: 26px 1px 16px 1px;
}
.p_ListParagraph /* List Paragraph */
{
 font-size: 15px;
 margin: 0 0 11px 48px;
}
.p_Notes /* Notes */
{
 font-size: 15px;
}
.p_tableoffigures /* table of figures */
{
 font-size: 13px;
 text-align: left;
 text-indent: -29px;
 margin: 0 0 0 29px;
}
.p_toc1 /* toc 1 */
{
 font-size: 15px;
 margin: 0 0 7px 0;
}
.p_toc2 /* toc 2 */
{
 font-size: 15px;
 margin: 0 0 7px 15px;
}
.p_toc3 /* toc 3 */
{
 font-size: 15px;
 text-align: left;
 line-height: 1.20;
 margin: 0 0 7px 29px;
}
/* Table styles */
div.hmrotate90  { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; }
div.hmrotate270 { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; transform: rotate(180deg); }

a.imagetogglelink {
  position: relative;
  display: inline-block;
}
svg.image-toggle-magnifier { /* Magnifier icon for image toggles */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40pt;
  height: 40pt;
  max-width: 80%;
  max-height: 80%;
  fill: #FFFFFF;
  stroke: #808080;
  stroke-width: 0.5pt;
  opacity: 0.3;
  transition: opacity 0.3s;
}
img.image-toggle:hover + svg.image-toggle-magnifier, svg.image-toggle-magnifier:hover {
  opacity: 1;
}



#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1)  }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1) }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3; filter:alpha(opacity=30); }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3; filter:alpha(opacity=30); }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
